ul {
    margin-left: 0;
    padding-left: 0;
}

li {
	background-color: white;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	font-size: 12px;
	list-style-type: none;
	height: 24px;
        width: 380px;
	padding-left: 1em;
	padding-top: 10px;
}

.selected {
	background-color: lightyellow;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

span.prompt {
    float: left;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}

textarea {
    width: 400px;
    height: 300px;
}

input {
    width: 280px;
}

.button-bar {
    text-align: right;
    width: 400px;
}

button {
    padding: 5px;
    margin: 10px;
}